**/.cache
**/.terraform
**/.terraform.lock.hcl
**/my-settings.auto.tfvars
.DS_Store
terraform-single/terraform.tfstate
terraform-single/terraform.tfstate.backup
terraform-single/.terraform.tfstate.lock.info
ibmcloud-vpnserver/*.pem
ibmcloud-vpnserver/*.key
ibmcloud-vpnserver/*.ovpn
ibmcloud-vpnserver/*.password
terraform-hpvs/**/terraform.tfstate
terraform-hpvs/**/terraform.tfstate.backup
terraform-hpvs/**/.terraform.tfstate.lock.info
terraform-hpvs/**/.env
