**/.cache
**/.terraform
**/.terraform.lock.hcl
**/*.tfvars
**/*.pub
**/*.rsa
.DS_Store
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
ibmcloud-vpnserver/*.pem
ibmcloud-vpnserver/*.key
ibmcloud-vpnserver/*.ovpn
ibmcloud-vpnserver/*.password
terraform-hpvs/**/.env
terraform-hpvs/log-encryption/compose/key.pub
terraform-vpnserver/*.ovpn
build
